* {}

html {
  height: 100%;
}

body {
  background-color: #cad2f7;
  font-family: 'Istok Web', sans-serif;
  height: 100%;
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

#container h1 {
  text-align: center;
}

#container h3 {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1em;
}

#container main {
  color: #16405b;
  margin: 0 auto;
}

#startLabel {
  /* flex: 1 0 130px;
  max-width: 220px;*/
}

#errandLabel {
  /*flex: 1 0 120px;*/
}

#errandForm input {
  /*flex: 1 0 220px;*/
  border-radius: 1em;
  margin-right: 2em;
}

@media only screen and (min-width: 800px) {
  #errandForm {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    min-width: 100%;
    justify-content: space-around;
  }
}

#errandForm {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  min-width: 100%;
  align-items: space-around;
  justify-content: space-around;
}

#errandForm * {
  margin-top: 1em;
}