html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #cad2f7;
  font-family: 'Istok Web', sans-serif;
  text-decoration-color: #5B3D91;
  height: 100%;
  margin: 0;
  padding: 0;
}

#mapContainer {
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

#map {
  height: 100%;
}

#sidebarContainer {
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 20%;
  z-index: 1;
}

#container h1 {
  font-size: 1.5vw;
}

#container h3 {
  margin: 0 auto;
  font-size: 1vw;
  padding-bottom: 1em;
}

#container main {
  color: #000000;
  margin: 0 auto;
}

#errandForm input {
  box-sizing: border-box;
}

.submit {
  cursor: pointer;
  background: #5B3D91;
  color: #ffffff;
  margin-top: 1em;
  margin-left: 5em;
}

.link {
  color: #ffffff;
  background: #5B3D91;
  cursor: pointer;
  padding: 1em;
  margin-top: 1em
}

.responsive {
  display: flex;
  flex-wrap: wrap;
}

.column {}

.row {
  display: flex;
  flex-direction: column;
}

.responsive input {
  flex-basis: 200px;
}

.responsive label {
  flex-grow: 1;
  max-width: 400px;
}

#feedback {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: small;
}

@media only screen and (orientation: portrait) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .submit {
    max-width: 100%;
  }
}
